<body class="body public-injuries">

	<%= simple_form_for [@contract, @public_injury] do |f| %>
		<div class="container cancellation mb-5">
			<div class="forms">
				<div class="form-1">
					<div class="form-inputs">
						<h3 class="first-title">Liability</h3>
						<h5>Select your event liability limit</h5>
						<%= f.input_field :liability, as: :radio_buttons, collection: [['100000', '£1m'], ['2000000', '£2m'], ['5000000', '£5m'], ['1000000', '£10m']], label_method: :second, value_method: :first, html: {id: "radio-public"}  %>

					</div>
				</div>
				
				<div class="form-2">
					<div class="form-inputs">
						<h3 class="titles">Attendance</h3>
						<h5>What’s your event's <strong><u>total</u></strong> attendance count?</h5>
						<%= f.input :total, label: false %>
					</div>

					<div class="form-inputs">
					<h5>What's your event's <strong><u>daily</u></strong> attendance count?</h5>
						<%= f.input :daily, label: false %>  
					</div>
				</div>

				<div class="form-3">
					<div class="form-inputs">
						<h3 class="titles">Concerns</h3>
						<h5>Do you have any assets in the USA?</h5>
						<%= f.input_field :usa, as: :radio_buttons, collection: [['0', 'No'], ['1', 'Yes']], label_method: :second, value_method: :first, html: {id: "radio-public"} %>
					</div>

					<div class="form-inputs">
						<h5>Does the event include any dangerous activities?</h5>
						<%= f.input_field :dangerous, as: :radio_buttons, collection: [['0', 'No'], ['1', 'Yes']], label_method: :second, value_method: :first, html: {id: "radio-public"} %>
					</div>


					<div class="form-inputs">
						<h5>Are there any other events taking place at this event which need to be considered?</h5>
						<%= f.input_field :sub, as: :radio_buttons, collection: [['0', 'No'], ['1', 'Yes']], label_method: :second, value_method: :first, html: {id: "radio-public"} %>
					</div>

				</div>
				
				<div class="btn-box">
					<%= f.submit "Submit", class: "submit"%>
				</div>
			</div>
		</div>
	<% end %>
</body>    
