<div class="container mb-5">
  <%= simple_form_for [@contract, @cancellation] do |f| %>


    <%= f.input :budget, :as => :integer, label: 'What is the budget for your event' %>
    
    <p>
      Do you require Terrorism cover? *<br />
      <%= f.radio_button :terrorism, true, class: "radio_button" %> Yes<br />
      <%= f.radio_button :terrorism, false, class: "radio_button" %> No<br />
    </p>

    <p>
      Where is the event predominantely held? *<br />
      <%= f.radio_button :location, 'Indoors', class: "radio_button" %> Indoors<br />
      <%= f.radio_button :location, 'Outdoors', class: "radio_button" %> Outdoors<br />
      <%= f.radio_button :location, 'Temporary Structures', class: "radio_button" %> Temporary Structures<br />
    </p>
    <p>
      Do you require cover for adverse weather conditions? *<br />
      <%= f.radio_button :weather, true, class: "radio_button" %> Yes<br />
      <%= f.radio_button :weather, false, class: "radio_button" %> No<br />
    </p>

    <p>
      If yes, can the event go ahead in continuous moderate rainfall and wind speeds of up to 30mph/50kmh? *<br />
      <%= f.radio_button :rain, true, class: "radio_button" %> Yes<br />
      <%= f.radio_button :rain, false, class: "radio_button" %> No<br />
    </p>

    <p>
      Does this event site have any history of flooding? *<br />
      <%= f.radio_button :flood, true, class: "radio_button" %> Yes<br />
      <%= f.radio_button :flood, false, class: "radio_button" %> No<br />
    </p>

    <p>
      Has this event ever had any losses as a result of adverse weather, whether insured or not? *<br />
      <%= f.radio_button :loss, true, class: "radio_button" %> Yes<br />
      <%= f.radio_button :loss, false, class: "radio_button" %> No<br />
    </p>

    <%= f.submit %>
  <% end %>
</div>