<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top"  >
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "vento-logo.png", class: "logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <%= link_to "Claims", "#{root_path}#policy coverages", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "FAQs", "#{root_path}#faq", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", "#{root_path}#help", class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: "delete", data: {confirm: "Are you sure?", title: "Log out?", commit: "Yes", cancel: "No"}, class: "nav-link" %>
        </li>
        <% else %>
          <li class="nav-item list-link">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

        <%= link_to "Get covered", new_festival_path, class: "btn btn-ghost"%>

          <%# <button class="btn btn-ghost" type="button" data-toggle="modal" data-target="#coverages">Get covered</button> %>
        
        
    </ul>
  </div>
</div>

<%= render 'shared/coverages' %> 
