<div >
    <div class="row m-0">
        <div class="col-sm-4 col-md-4 col-lg-4 p-0">
               <%= image_tag "vento_image/rectangle-1.jpg" %>
        </div>
        
        <div class="col-sm-2 col-md-2 col-lg-2 p-0">
                <%= image_tag "vento_image/rectangle-2.jpg" %>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 p-0">
                <%= image_tag "vento_image/rectangle-3.jpg" %>
        </div>
    </div>


    <div class="row m-0">
        <div class="col-sm-1 col-md-1 col-lg-1 p-0">
                <%= image_tag "vento_image/rectangle-5.jpg" %>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 p-0">
                <%= image_tag "vento_image/rectangle-6.jpg" %>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 p-0">
                <%= image_tag "vento_image/rectangle-7.jpg" %>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 p-0">
                <%= image_tag "vento_image/rectangle-8.jpg" %>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 p-0">
                <%= image_tag "vento_image/rectangle-10.jpg" %>
        </div>
    </div>
</div>