<div class="container">
    <div class="row image-grid">
      <div class="col-sm-3 col-md-3">
           <a href="" target="_self">
               <%= image_tag "vento_image/rectangle-1.jpg", class: "img-responsive center-block" %>
            </a>
        </div>
        
        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-2.jpg", class: "img-responsive center-block" %>
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-3.jpg", class: "img-responsive center-block" %>
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-4.jpg", class: "img-responsive center-block" %>
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-5.jpg", class: "img-responsive center-block" %>
            </a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-6.jpg", class: "img-responsive center-block" %>
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-7.jpg", class: "img-responsive center-block" %>
            </a>
        </div>

        <div class="col-sm-3 col-md-3">
            <a href="" target="_self">
                <%= image_tag "vento_image/rectangle-8.jpg", class: "img-responsive center-block" %>
            </a>
        </div>
    </div>
</div>