<head>
  <title>Vento - Affordable Event Insurance & Rapid Claim Payments</title>
</head>

<div class="banner">
  <div class="banner-content text-center">
    <div class="first">
      <h1>Simple Event Insurance</h1>
    </div>
    <div class="second">
      <p>Clear Policies.</p>
      <p>Instant Quotes.</p>
      <p>Rapid Claims Payment.</p>
    </div>

    <%= link_to new_festival_path, class: "btn boton text-white" do  %>
      <i class="fas fa-fire"></i>Get covered instantly
    <% end %>
     
    <%# <button type="button" class="btn boton text-white" data-toggle="modal" data-target="">
    </button> %>
    <!-- <a href="#" class="btn boton text-white" role="button"><i class="fas fa-fire"></i>Get covered instantly</a> -->
  </div>
</div>
<div style="position: relative;">
  <lottie-player src="/vento_animation.json"  background="transparent"  speed="1"  style="width: 100%; height: auto;"  loop autoplay></lottie-player>
  <div class="wave-top-image" style="position: absolute; bottom: 0px;">
    <%= image_tag "shape-top.png", class: "wave-top-imagen", style: "border: none; height: 80px; width: 100%; " %>
  </div>
</div>


<%= render 'shared/card' %> 
<%= render 'shared/bigcard' %> 
<%#= render 'shared/photos' %> 
<%= render 'shared/faq' %>
<%= render 'shared/social_media_links' %>
<%# <%= render 'shared/festival_details' %>
