<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="https://assets3.thrillist.com/v1/image/2761138/1200x630/flatten;crop_down;jpeg_quality=70"/>
    <meta property="og:description" content="Vento provides event insurance, and allows event planners to feel comfortable if an incident were to occur during the festival dates."/>
    <meta property="og:title" content="Vento - Affordable Event Insurance & Rapid Claim Payments"/>
    <meta property="og:url" content="https://www.vento.live/"/>
    <meta property="og:type" content="website"/>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="iWkbUpqAYFoEtqzfvsG44xf08KKJnYvMaM2oP16++gpXrgljVMzcfb0jczeen7VeJvdlV/yHEJ3ETYO3nyVHtA==" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
